@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hedear-height: 60px;
}

.header{
    height: var(--hedear-height)
}
aside{
    min-height: calc(100vh - var(--hedear-height));
    max-height: auto;
}

/* CARD */
.card-side {
  transition: transform 0.2s;
}

#notes {
  transform: rotateY(360deg) ;
  /* Use rotateY(0deg) para mostrar as anotações */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-width: 15px;
    border-opacity: 0.25;
  }
  100% {
    transform: rotate(360deg);
    border-width: 2px;
    border-opacity: 0.5;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}



/* SELECT */


  
  
  
  
